# Editor directories and files
.idea

# Package Manager
node_modules
.pnpm-debug.log*

# System
.DS_Store

# Bundle
dist
packages/lightjs/version.ts

# local env files
*.local
.eslintcache
docs/.docz/*
tmp